<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MChart</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="shortcut icon" type="image/png" href="../images/Logo.png"/>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="./index.html">
                        <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
                        <span class="title">MChart</span>
                    </a>
                </li>
                <li>
                    <a href="./index.html">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="./myProject.html">
                        <span class="icon"><ion-icon name="folder-outline"></ion-icon></span>
                        <span class="title">My Projects</span>
                    </a>
                </li>
                <li>
                    <a href="./shareWithMe.html">
                        <span class="icon"><ion-icon name="share-social-outline"></ion-icon></span>
                        <span class="title">Shared With Me</span>
                    </a>
                </li>
                <li>
                    <a href="./recently.html">
                        <span class="icon"><ion-icon name="time-outline"></ion-icon></span>
                        <span class="title">Recently</span>
                    </a>
                </li>
                <li>
                    <a href="./recycleBin.html">
                        <span class="icon"><ion-icon name="trash-bin-outline"></ion-icon></span>
                        <span class="title">Recycle Bin</span>
                    </a>
                </li>
                <li>
                    <a href="./help.html">
                        <span class="icon"><ion-icon name="help-circle-outline"></ion-icon></span>
                        <span class="title">Help</span>
                    </a>
                </li>
                <li>
                    <a href="./settings.html">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="confirmSignOut">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- main -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Enter infomation that you want ...">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <!-- logo image -->
                <div class="logo">
                    <img src="../images/Logo.png">
                </div>
            </div>
            
            <a class="popup-container" id="addChartBtn">
                <button class="addProject">
                  <div class="iconAdd">
                    <ion-icon name="add-outline"></ion-icon>
                  </div>
                  <div class="addButton">
                    <div>Add Chart</div>
                  </div>
                </button>
            </a>

            <div class="ListChart">
                <h4>----- My charts -----</h4>
                <!-- Danh sách chart -->
                <div class="chart-list">
                    <!-- Các project được thêm vào đây bằng JavaScript -->
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../models/chart.js"></script>
    <script src="../../models/function.js"></script>
    <script>
        function confirmSignOut() {
            var isConfirmed = confirm("Are you sure you want to sign out?");
            if (isConfirmed) {
                // Thực hiện các bước đăng xuất ở đây (ví dụ: chuyển hướng đến trang đăng nhập)
                window.location.href = "login.html";
            }
        }
    </script>

    <script>
        // Day thanh taskbar vao
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        toggle.onclick = function(){
            navigation.classList.toggle('active')
            main.classList.toggle('active')
        }
        // Co dinh hover cho thanh taskbar
        let list = document.querySelectorAll('.navigation li');
        function activeLink(){
            list.forEach((item) =>
            item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) =>
        item.addEventListener('mouseover', activeLink));
    </script>

    <script>
        // Lấy projectId từ URL
        const urlParams = new URLSearchParams(window.location.search);
        const projectId = urlParams.get('projectId');
    
        // Lắng nghe sự kiện click trên nút
        document.getElementById('addChartBtn').addEventListener('click', function() {
        // Chuyển hướng trang với projectId
        window.location.href = `/addChart.html?projectId=${projectId}`;
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Lấy projectID từ URL
            const urlParams = new URLSearchParams(window.location.search);
            const projectId = urlParams.get('projectId');
    
            // Kiểm tra xem projectID có tồn tại không
            if (projectId) {
                // Gọi API để lấy danh sách chart thuộc dự án có projectID
                fetch(`http://localhost:5000/chartBelongProject/${projectId}`)
                    .then(response => response.json())
                    .then(function (chartsData) {
                        var chartList = document.querySelector('.chart-list');

                        // Tạo các phần tử HTML cho từng biểu đồ
                        chartsData.forEach(function (chart) {
                            var chartContainer = document.createElement('div');
                            chartContainer.classList.add('chart-container');
                            chartContainer.setAttribute('data-chart-id', chart.ChartID);

                            // Tạo nội dung HTML cho biểu đồ
                            var chartHTML = `
                                <div class="chart-info">
                                    <div class="chart-title">${chart.ChartName}</div>
                                    <ion-icon name="ellipsis-vertical-outline" onclick="showChartOptions(event, '${chart.ChartID}')"></ion-icon>
                                </div>
                                <canvas id="${chart.ChartID}"></canvas>
                                <div class="popupChart" id="popupChart-${chart.ChartID}">
                                    <div class="popupChart-content">
                                        <a href="#" onclick="renameChart('${chart.ChartID}')">Rename Chart</a>
                                        <a href="./editChart.html?chartID=${chart.ChartID}">Edit Chart</a>
                                        <a href="#" onclick="shareChart('${chart.ChartID}')">Share Chart</a>
                                        <a href="#" onclick="confirmAndRemoveChart('${chart.ChartID}')">Remove Chart</a>
                                        <a href="#" onclick="viewInfoChart('${chart.ChartID}')">View Info Chart</a>
                                    </div>
                                </div>
                            `;

                            chartContainer.innerHTML = chartHTML;

                            // Thêm biểu đồ vào danh sách
                            chartList.appendChild(chartContainer);

                            var chartData = JSON.parse(chart.Data);
                            
                            var chartType = chartData.datasets[0].chartType || 'bar';

                            var ctx = document.getElementById(chart.ChartID).getContext('2d');
                            new Chart(ctx, {
                                type: chartType,
                                data: chartData,
                            });
                        });
                    })
                    .catch(function (error) {
                        console.error('Error fetching charts:', error);
                    });
            }
        });
    </script>
    <script>
        document.addEventListener('click', function(event) {
        closeAllPopups();
        closeChartPopups();
    });
    </script>
</body>
</html>