<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MChart</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="shortcut icon" type="image/png" href="../images/Logo.png"/>
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="./index.html">
                        <span class="icon"><ion-icon name="bar-chart-outline"></ion-icon></span>
                        <span class="title">MChart</span>
                    </a>
                </li>
                <li>
                    <a href="./index.html">
                        <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="./myProject.html">
                        <span class="icon"><ion-icon name="folder-outline"></ion-icon></span>
                        <span class="title">My Projects</span>
                    </a>
                </li>
                <li>
                    <a href="./shareWithMe.html">
                        <span class="icon"><ion-icon name="share-social-outline"></ion-icon></span>
                        <span class="title">Shared With Me</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><ion-icon name="time-outline"></ion-icon></span>
                        <span class="title">Recently</span>
                    </a>
                </li>
                <li>
                    <a href="./recycleBin.html">
                        <span class="icon"><ion-icon name="trash-bin-outline"></ion-icon></span>
                        <span class="title">Recycle Bin</span>
                    </a>
                </li>
                <li>
                    <a href="./help.html">
                        <span class="icon"><ion-icon name="help-circle-outline"></ion-icon></span>
                        <span class="title">Help</span>
                    </a>
                </li>
                <li>
                    <a href="./settings.html">
                        <span class="icon"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="title">Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#" onclick="confirmSignOut">
                        <span class="icon"><ion-icon name="log-out-outline"></ion-icon></span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- main -->
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="search">
                    <label>
                        <input type="text" placeholder="Enter infomation that you want ...">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <!-- logo image -->
                <div class="logo">
                    <img src="../images/Logo.png">
                </div>
            </div>
            
            <!-- Danh sách project -->
            <div class="ListProject">
                <h4>----- My projects -----</h4>
                <div class="project-list">
                    <!-- Các project được thêm vào đây bằng JavaScript -->
                </div>
            </div>

            <div class="ListChart">
                <h4>----- My charts -----</h4>
                <!-- Danh sách chart -->
                <div class="chart-list">
                    <!-- Các project được thêm vào đây bằng JavaScript -->
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../../models/chart.js"></script>
    <script src="../../models/function.js"></script>
    <script>
        function confirmSignOut() {
            var isConfirmed = confirm("Are you sure you want to sign out?");
            if (isConfirmed) {
                // Thực hiện các bước đăng xuất ở đây (ví dụ: chuyển hướng đến trang đăng nhập)
                window.location.href = "login.html";
            }
        }
    </script>

    <script>
        // Day thanh taskbar vao
        let toggle = document.querySelector('.toggle');
        let navigation = document.querySelector('.navigation');
        let main = document.querySelector('.main');

        toggle.onclick = function(){
            navigation.classList.toggle('active')
            main.classList.toggle('active')
        }
        // Co dinh hover cho thanh taskbar
        let list = document.querySelectorAll('.navigation li');
        function activeLink(){
            list.forEach((item) =>
            item.classList.remove('hovered'));
            this.classList.add('hovered');
        }
        list.forEach((item) =>
        item.addEventListener('mouseover', activeLink));
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Lấy dữ liệu projects từ API
        fetch('http://localhost:5000/projects')
            .then(response => response.json())
            .then(function(projectsData) {
                // Lấy phần danh sách project
                var projectList = document.querySelector('.project-list');

                // Tạo các phần tử HTML cho từng project
                projectsData.forEach(function(project) {
                    var projectItem = document.createElement('div');
                    projectItem.classList.add('project-item');
                    projectItem.setAttribute('data-project-id', project.ProjectID);

                    // Tạo nội dung HTML cho project
                    var projectHTML = `
                    <a href="./project-detail.html?projectId=${project.ProjectID}" class="project-link">
                            <div class="project-info">
                                <div class="iconFolder">
                                    <ion-icon name="folder-open-outline"></ion-icon>
                                </div>
                                <div class="project-name">${project.ProjectName}</div>
                                <div class="more-info">
                                    <ion-icon name="ellipsis-vertical-outline" onclick="showOptions(event, '${project.ProjectID}')"></ion-icon>
                                </div>
                            </div>
                        </a>
                        <div class="popupProject" id="popupProject-${project.ProjectID}">
                            <div class="popupProject-content">
                                <a href="#" onclick="renameProject('${project.ProjectID}')">Rename</a>
                                <a href="#" onclick="shareProject('${project.ProjectID}')">Share Project</a>
                                <a href="#" onclick="confirmAndRemoveProject('${project.ProjectID}')">Remove</a>
                                <a href="#" onclick="viewFileInfo('${project.ProjectID}')">View File Info</a>
                            </div>
                        </div>              
                    `;

                    projectItem.innerHTML = projectHTML;

                    // Thêm project vào danh sách
                    projectList.appendChild(projectItem);
                });
            })
            .catch(function(error) {
                console.error('Error fetching projects:', error);
            });
    });
</script>
<script>
    document.addEventListener('click', function(event) {
    closeAllPopups();
});
</script>
<script>
    function saveProject() {
    var projectName = document.getElementById("projectName").value;
    var projectDescription = document.getElementById("projectDescription").value;

    // Tạo một đối tượng chứa dữ liệu dự án
    var projectData = {
        projectName: projectName,
        projectDescription: projectDescription
    };

    // Gửi request POST đến server
    fetch('http://localhost:5000/addProjects', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(projectData)
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            alert('Add project successfully!')
            closePopup();
        } else {
            console.error('Error adding project:', data.message);
            alert('An error occurred while adding the project. Please try again.');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('An error occurred. Please try again.');
    });
}
</script>

<script>
    // Lấy dữ liệu từ API
    fetch('http://localhost:5000/chartNotBelongProject')
      .then(response => response.json())
      .then(data => {
        // Duyệt qua từng chart và tạo biểu đồ
        data.forEach(chart => {
          // Tạo container cho biểu đồ
          var chartContainer = document.createElement('div');
          chartContainer.className = 'chart-container';
    
          // Tạo tiêu đề cho biểu đồ
          var chartTitle = document.createElement('li');
          chartTitle.textContent = chart.ChartName;
          chartContainer.appendChild(chartTitle);

          // Tạo biểu tượng ion-icon
        var ellipsisIcon = document.createElement('ion-icon');
        ellipsisIcon.setAttribute('name', 'ellipsis-vertical-outline');
        ellipsisIcon.style.float = 'right';
        chartTitle.appendChild(ellipsisIcon);
    
          // Tạo canvas cho biểu đồ
          var canvas = document.createElement('canvas');
          canvas.id = chart.ChartID;
          chartContainer.appendChild(canvas);
    
          // Thêm container vào danh sách
          document.querySelector('.chart-list').appendChild(chartContainer);
    
          var chartData = JSON.parse(chart.Data);
          
          var chartType = chartData.datasets[0].chartType || 'bar';
    
          var ctx = document.getElementById(chart.ChartID).getContext('2d');
          new Chart(ctx, {
            type: chartType,
            data: chartData,
          });
        });
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>